<header>
  {%- assign top_level_page_paths = site.pages | where: "dir", "/" | map: "path" -%}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/img/logo-header.png" | relative_url }}" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {%- for path in top_level_page_paths -%}
          {%- assign my_page = site.pages | where: "path", path | first -%}
          {%- if my_page.title -%}
            {%- assign subtree = my_page.url | append: "/" -%}
            {%- assign subpage_paths = site.pages | where: "dir", subtree | map: "path" -%}
            {%- if subpage_paths.size > 0 %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">{{ my_page.title | escape }}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {%- for subpage_path in subpage_paths -%}
              {%- assign subpage = site.pages | where: "path", subpage_path | first -%}
              {%- if subpage.title -%}
              <li><a class="dropdown-item" href="{{ subpage.url | relative_url }}">{{ subpage.title | escape }}</a></li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </li>
            {%- else -%}
          <li class="nav-item">
            <a class="nav-link {% if page.url == my_page.url %} active" aria-current="page{%- endif -%}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          </li>
            {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </nav>
</header>
